.seriesform{
        margin-left: 500px;
        width:500px;
        background-color: #FFFAF0;
        padding-left: 100px;
        height: 800px;
        margin-bottom: 100px;
}
.addTeamsForm{
    margin-left: 500px;
    width:500px;
    background-color: #FFFAF0;
    padding-left: 100px;
    height: 280px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        width:95%;
        margin-left:0px;
        
      }
      
      .alert.success {background-color: #7bdb7e;
      }
.errormsg{
width:330px;
height:20px;
background-color: rgb(245, 110, 110);
}
#seriesTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin-top: 100px;
        margin-left: 500px;
      }
      #seriesTable td, #seriesTable th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      
      #seriesTable tr:nth-child(even){background-color: #f2f2f2;}
      
      #seriesTable tr:hover {background-color: #ddd;}
      
      #seriesTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color:#072664;
        color:aliceblue;
        
      }
      .seriesdetails{
          margin-left: 400px;
          margin-right: 400px;
      }
      .delTeam{
              width:40%;
              margin-left: 70px;
      }
      .details{
        margin-top:70px;
        margin-left:180px;
        
        
      }