
#teamTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-top: 100px;
    margin-left: 500px;
    margin-bottom: 100px;
  }
  #teamTable td, #teamTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #teamTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #teamTable tr:hover {background-color: #ddd;}
  
  #teamTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#072664;
    color:aliceblue;
    
  }
  .teamdetails{
      margin-left: 200px;
      margin-right: 200px;
  }
  .addPlayerForm{
    margin-left: 500px;
    width:500px;
    background-color: #FFFAF0;
    padding-left: 100px;
    height: 280px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .teamform{
    margin-left: 500px;
    margin-top: 100px;
    width:500px;
    background-color: #FFFAF0;
    padding-left: 100px;
    height: 350px;
    margin-bottom: 100px;
  }
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    width:40%;
    margin-left:100px;
  }
  
  .alert.success {background-color: #7bdb7e;
  }
  .float_left{
float: left;
height:55px;
  }

  .MyReactTableClass .-sort-desc {
    box-shadow: none !important;}
.MyReactTableClass .-sort-desc::before {
      content: "▼";
      float: right;
    }
  

.MyReactTableClass .-sort-asc {
    box-shadow: none !important;}
.MyReactTableClass .-sort-asc::before {
      content: "▲";
      float: right;
    }


    
  